<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
            >
                Obec pro lidi
            </button>
        </h2>
        <div
            id="collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
        >
            <div class="accordion-body">
                Chceme fungování obce otevřít a přiblížit všem občanům. Proto
                chceme všechny návrhy projednávat vždy na veřejném
                zastupitelstvu a každý návrh představit a projednávat před
                občany. Zároveň chceme zavést online přenosy a záznamy pro lidi,
                kteří se nemohou na zasedání dostavit osobně.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
            >
                Pro rodiny s dětmi
            </button>
        </h2>
        <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
        >
            <div class="accordion-body">
                Chceme vybudovat obec, která bude mít zázemí pro všechny věkové
                kategorie. Proto chceme otevřít prostor u Kulturního domu, např.
                pro ježdění na kolečkových bruslích nebo na kole pro malé děti.
                Zároveň chceme vybudovat multifunkční hřiště, které bude možné
                využit pro řadu různých sportů.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
            >
                Pro seniory
            </button>
        </h2>
        <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
        >
            <div class="accordion-body">
                <ul>
                    <li>Obnova osobních přání občanům</li>
                    <li>Pomoc seniorům s digitální komunikací</li>
                    <li>Pořádání přednášek a besed</li>
                </ul>
            </div>
        </div>
    </div>
</div>
