<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - Moderní Pavlov</title>
        <meta name="description" content="{{ description }}"/>

        <!-- Open graph data -->
        <meta property="og:title" content="{{ title }} - Moderní Pavlov" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ "assets/og-image.jpg" | htmlBaseUrl(metadata.url) }}" />

        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />

        <!-- Analytics -->
        {% include "components/analytics.njk" %}

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Figtree:wght@400;600;700&display=swap"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://fonts.cdnfonts.com" crossorigin />
        <link href="https://fonts.cdnfonts.com/css/trebuchet-ms-2" rel="stylesheet">

        <!-- Imports -->
        <link rel="stylesheet" href="/css/style.css" />
        <script async src="/assets/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="full-height-container">
            {% if draft %}
                <div class="alert alert-warning mb-0" role="alert">
                    Tato stránka je draftem a nebude dostupná na produkci!
                </div>
            {% endif %}
            {% include "components/navbar.njk" %}
            {% block content %}{% endblock %}
            {% include "components/footer.njk" %}
        </div>
    </body>
</html>
