{% extends "layouts/base.njk" %}

{% from "components/newsItem.njk" import newsItem %}

{% block content %}
<header class="hero-section text-white py-5">
    <div class="hero-media">
        <img class="" src="/assets/pavlov.jpg" alt="" loading="eager" fetchpriority="high">
    </div>

    <div class="container text-center">
        <h1 class="display-2 mb-2">
            <div class="hero-logo-first">Moderní</div>
            <div class="hero-logo-second">Pavlov</div>
        </h1>

        <div class="cta-buttons d-flex gap-3 justify-content-center flex-wrap mt-4">
            <a href="/program/" class="btn btn-light btn-lg fw-bold">Náš Program</a>
            <!--<a href="/kandidati/" class="btn btn-light btn-lg
                fw-bold">Kandidáti</a>-->
        </div>
    </div>
</header>
<main class="container py-5">
    {{ content | safe }}

    <h2>Novinky</h2>
    {% for item in collections.news | slice(0, 2) %}
        {{ newsItem(item) }}
    {% endfor %}

    <a class="btn btn-outline-primary btn-sm" href="/novinky/">Archiv novinek</a>
</main>
{% endblock %}
