{% extends "layouts/base.njk" %}

{% block content %}
<main class="container py-5">

{{ content | safe }}

<div class="d-flex flex-col justify-content-center">
    <div class="row g-4">
        {% for candidate in candidates %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100 shadow-sm candidate-card">
                    <!-- Candidate Photo -->
                    <img src="{{ candidate.photo }}" alt="{{ candidate.name | safe }}" class="card-img-top">

                    <!-- Card Content -->
                    <div class="card-body">
                        <h3 class="card-title fw-bold">{{ candidate.name | safe }}</h3>
                        <p class="card-text text-muted small">{{ candidate.work | safe }}</p>
                        <p class="card-text">{% markdown candidate.bio %}</p>
                    </div>

                    <!-- Footer -->
                    <!--<div class="card-footer">
                        <small class="text-muted">{{ candidate.focus | safe }}</small>
                    </div>-->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</main>
{% endblock %}
